extends layout

block content
  h1 Home
  if currentUser
    p
      a(href='/users/logout') log out
  else
    p
      a(href='/users/login') log in
  p
    a(href='/users/signup') sign up
  p
    a(href='/users/join') join da club
