doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if currentUser
      h1 #{currentUser.first_name} is in the MFin building
    block content
